
.footer {
  
    color: black;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
  }
  
  .footer-tagline{
    font-style: italic;
    margin-top: 5px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  .footer-logo {
    flex: 1;
    text-align: left;
  }
  
  .footer-logo-img {
    width: 150px;
    margin-bottom: 15px;
  }
  
  .footer-logo p {
    font-size: 14px;
    opacity: 0.8;
  }
  
  
  .footer-links {
    flex: 1;
    margin-top: 20px;
  }
  
  .footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin: 8px 0;
  }
  
  .footer-links ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.3s;
  }
  
  .footer-links ul li a:hover {
    color: #020ddc;
    
  }
  
  
  .footer-contact {
    flex: 1;
    margin-top: 20px;
  }
  
  .footer-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .footer-contact ul {
    list-style-type: none;
    padding: 0;
   
  }
  
  .footer-contact ul li {
    font-size: 16px;
    margin: 8px 0;
   
  }
  
  
  .footer-social {
    flex: 1;
    margin-top: 20px;
    
  }
  
  .footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    
  }
  
  .social-icons a {
    color: black;
    font-size: 24px;
    margin: 0 10px;
    transition: 0.3s;
 
  }
  
  .social-icons a:hover {
    color: #343cdb;
    transform: scale(1.1);
  }
  

  @media (max-width: 1024px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-logo,
    .footer-links,
    .footer-contact,
    .footer-social {
      flex: 1;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-logo p {
      font-size: 12px;
    }
  
    .footer-links ul li a {
      font-size: 14px;
    }
  
    .footer-contact ul li {
      font-size: 14px;
    }
  
    .social-icons a {
      font-size: 20px;
    }
  }
  